.second-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.ss-txt + .ss-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 30%;
}

.ss-img > img {
  width: 70%;
  height: 70%;
  border-radius: 50%;
}
